<h2 class="text-lg sm:text-2xl font-extrabold">Patient Directory</h2>

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 my-4 justify-items-center">
  <% @patients.each do |patient| %>
    <%= render CardComponent.new do %>
      <%= render AvatarComponent.new(avatar_url: patient.avatar_url) %>
      <h5 class="mb-1 text-xl font-medium text-gray-900">
        <%= render FullNameComponent.new(patient) %>
      </h5>
      
      <%= render TimestampComponent.new(patient.sicklie_updated_at, "Not registered with Sicklie") %>

      <div class="flex mt-4 space-x-3 md:mt-6">
        <%= form_with url: sync_patient_path(patient), method: :put do |form| %>
          <%= form.button "Sync", class: "inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300" %>
        <% end %>
      </div>    
    <% end %>
  <% end %>
</div>